<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--    将我们写好的sql映射配置文件的路径注册到全局配置文件中-->
    <mappers>
        <mapper class="com.huangfan.java.dao.BookMapper"/>
    </mappers>

</configuration>